<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link href="/sign-up.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/sign-up.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveBox - login</title>
</head>
<body>
    <div id="mack"></div>
    <a href="https://www.example.com" target="_blank" id="logo">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="64" height="64">
            <title>New Project</title>
            <defs>
                <image  width="362" height="543" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWoAAAIfAQMAAABjEQRPAAAAAXNSR0IB2cksfwAAAAZQTFRFAAAAQLdACKVN4AAAAAJ0Uk5TAP9bkSK1AAABJUlEQVR4nO3aQUoEMRAF0Ioj6M65gd5Eb6bezLmJ3kB3CuqIS01VQwktw/CyLB7ppLp2PyNi8x4/1/4kqjUiLh9/F3c3C3w/Fd/Oaz6dZek0I85e029WfD56xP1dya8f5urTVclvk51etiWfG7PQmjE+k+rHacWTPi50ssuztteNHxfPWblqfJdnP7WeyS7PZqCegi7PRqYempV5NpD1SOI4juM4juM4juM4juM4juM4jh8NP6jMZt14at1obd1YsJlRrhuYNtPbZjbcTZ6buXYzNW9m8klrysZ87zPftbzpH14rNN9CZCsfvNjhOI7jOI7jOI7jOI7jOI7jOI7jOI7jOI4fFT+oF104juM4juM4juM4juM4juM4juM4juM4juP/yr8AqJIPHPKrHhUAAAAASUVORK5CYII="/>
            </defs>
            <style>
            </style>
            <use id="Shape 1 copy 2" href="#img1" x="155" y="48"/>
        </svg>
    </a>
    <div id="main">
        <div id="texts">
            <h2 id="enter">ورود به سامانه</h2>
            <h4 id="unenter">لطفا اطلاعات خود را درست وارد کنید</h4>
        </div>

        <form action="/" method="get" autocomplete="on" id="form">
            <input type="text" name="UsersName" placeholder="نام کاربری" class="input">
            <input type="password" name="UsersPass" placeholder="رمز عبور" class="input">
            <input type="submit" name="UsersPass" id="submit" value="ورود به سامانه">
            <a href="/" id="help">با ورود به سامانه تمامی قوانین را </a>
        </form>
    </div>
    <a href="/" id="power">© قدرت یافته از LiveBox</a>
    
</body>
</html>